!!! 5
%html
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title Lonely Planet
    %link(media="screen" rel="stylesheet" type="text/css"){ href: "#{root_path}/static/all.css" }
    %link(rel="stylesheet" type="text/css"){ href: "#{root_path}/static/font-awesome.min.css" }
    %script(type="text/javascript"){ src: "#{root_path}/static/jquery.min.js" }
    %script(type="text/javascript"){ src: "#{root_path}/static/scrollspy.js" }
    %script(type="text/javascript"){ src: "#{root_path}/static/affix.js" }
    %script(type="text/javascript"){ src: "#{root_path}/static/widget.js" }
    %script(type="text/javascript"){ src: "#{root_path}/static/block_widget.js" }
  %body
    #container
      #header
        #logo
        %h1
          = "Lonely Planet: #{title}"

      #wrapper
        #sidebar(data-spy="affix" data-offset-top="86")
          .block
            %h3 Navigation
            .content
              .inner
                %ul.navigation
                  - navigation_items.each do |item|
                    %li
                      %a{ href: item.href }
                        %i.fa{class: item.icon}
                        = item.text

          .block
            %h3 Sections
            .content
              .inner
                %ul.navigation
                  - sections.each do |section|
                    %li
                      %a{ href: "#section#{section.object_id.to_s}" }
                        %i.fa.fa-compass
                        = section.title
        #main
          - sections.each do |section|
            .block{id: "section#{section.object_id.to_s}" }
              .secondary-navigation
                %ul
                  %li.first
                    %a{ href: "#section#{section.object_id.to_s}" }
                      = section.title.upcase
                .clear
              .content
                .inner
                  - section.blocks.each do |b|
                    - if b.has_content?
                      .text-block(data-widget="Block")
                        - if b.heading.nil?
                          %h3= b.heading

                        - b.paragraphs.each_with_index do |p, i|
                          %p{ b.paragraph_attr(i) }= p

                        - if b.has_extra?
                          %a(href="#" data-widget-part='toggleButton' data-action-handler="toggleExtras")
